<section class="footer">
    <div class="footer__container">
        <div class="carusel">
            <div class="carusel__title">
                <div class="title__we-thought">
                    <p>We thought</p>
                </div>
                <div class="title__you-might">
                    <p>YOU MIGHT LIKE THESE TOO...</p>
                </div>
            </div>
            <div class="carusel__slick">
                <div class="slick__item">
                    <div class="item__img">
                        <img src="img/product-1.png" alt="prod">
                    </div>
                    <div class="item__info">
                        <div class="title-price">
                            <div class="item__title-item">
                                <span>LEATHER BAG</span>
                            </div>
                            <div class="item__price-item">
                                <span>$78</span>
                            </div>
                        </div>
                        <div class="info__name-item">
                            <span>Bag</span>
                        </div>
                    </div>
                </div>
                <div class="slick__item">
                    <div class="item__img">
                        <img src="img/carusel1.png" alt="prod">
                    </div>
                    <div class="item__info">
                        <div class="title-price">
                            <div class="item__title-item">
                                <span>GIFT BOX COLORS</span>
                            </div>
                            <div class="item__price-item">
                                <span>$78</span>
                            </div>
                        </div>
                        <div class="info__name-item">
                            <span>Gift</span>
                        </div>
                    </div>
                </div>
                <div class="slick__item">
                    <div class="item__img">
                        <img src="img/carusel2.png" alt="prod">
                    </div>
                    <div class="item__info">
                        <div class="title-price">
                            <div class="item__title-item">
                                <span>FLYKNIT LUNAR 3</span>
                            </div>
                            <div class="item__price-item">
                                <span>$78</span>
                            </div>
                        </div>
                        <div class="info__name-item">
                            <span>Running Shoes</span>
                        </div>
                    </div>
                </div>
                <div class="slick__item">
                    <div class="item__img">
                        <img src="img/carusel3.png" alt="prod">
                    </div>
                    <div class="item__info">
                        <div class="title-price">
                            <div class="item__title-item">
                                <span>WALLETS LEATHER</span>
                            </div>
                            <div class="item__price-item">
                                <span>$78</span>
                            </div>
                        </div>
                        <div class="info__name-item">
                            <span>Accessories</span>
                        </div>
                    </div>
                </div>
                <div class="slick__item">
                    <div class="item__img">
                        <img src="img/carusel4.png" alt="prod">
                    </div>
                    <div class="item__info">
                        <div class="title-price">
                            <div class="item__title-item">
                                <span>SHOES MEN</span>
                            </div>
                            <div class="item__price-item">
                                <span>$78</span>
                            </div>
                        </div>
                        <div class="info__name-item">
                            <span>Running Shoes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>