<section class="header">
    <div class="header-container">
        <div class="navigation">
            <div class="navigation__logo">
                <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
            </div>
            <div class="btn-open">
                <img src="img/menu-512.png" alt="open" id="btn-open">
            </div>
            <div class="modal-overlay"></div>
            <div class="menu__hiden">
                <ul class="hidden_menu">
                    <li><a href="#">home</a></li>
                    <li><a href="#">products</a></li>
                    <li><a href="#">lookbook</a></li>
                    <li><a href="#">collection</a></li>
                    <li><a href="#" id="hidden_close">close</a></li>
                </ul>
            </div>
            <div class="navigation__menu">
                <ul class="menu__list">
                    <li class="list__button"><a href="#">home</a></li>
                    <li class="list__button"><a href="#">products</a></li>
                    <li class="list__button"><a href="#">lookbook</a></li>
                    <li class="list__button"><a href="#">collection</a></li>
                </ul>
            </div>
        </div>
        <div class="login-form">
            <div class="login-form__bag">
                <div class="bag">
                    <a href="#">Bag</a>
                </div>
                <div class="bag__number">
                    <span>3</span>
                </div>
            </div>
            <div class="bag__border">
                
            </div>
            <div class="login-form__enter">
                <a href="#" class="login">Login</a>
                <div class="line"></div>
                <a href="#" class="sing-up">Sing up</a>
            </div>
        </div>
    </div>
</section>